$body-size: 14px;

$bg: #f8f8f8;
$primary-color: #FF007B;
$turquoise: $primary-color;
$font-color: #3B3232;

$header-height: 38px;
$header-padding: 80px;

$footer-height: 48px;

$icomoon-font-path: "../fonts" !default;

$icon-date: "\e900";
$icon-clock: "\e901";
$icon-timesheet: "\e902";
$icon-folder: "\e903";
$icon-archive: "\e904";
$icon-pause-circle: "\e905";
$icon-play-circle: "\e906";
$icon-plus-circle: "\e907";
$icon-search: "\e908";
$icon-settings: "\e909";
$icon-trash: "\e90a";
$icon-x-circle: "\e90b";
