.tt-menu {
  background-color: rgb(240, 240, 240);

  .tt-dataset {
    padding: 3px 0;

    .tt-suggestion {
      cursor: pointer;
      padding: 0 20px;

      &:not(:last-child) {
        border-bottom: 1px solid $primary-color;
      }

      &:hover {
        background: rgba($primary-color, 0.05);
      }
    }
  }
}

.twitter-typeahead {
  width: 100%;
}
