<section class="section" ng-init="init()">
  <div class="container">
    <div class="columns">
      <div class="column">
        <h1 class="title is-5">
          Projects
          <span ng-click="addProject()" class="is-pulled-right button is-primary is-small is-outlined">new</span></h1>
        <h2 class="subtitle is-6">
          Overview of currently running Projects
        </h2>
      </div>
    </div>
    <hr>
    <div class="columns" ng-if="projects && projects.length">
      <div class="column">
        <ul class="project-list">
          <li ng-repeat="project in projects">
            <div class="columns is-marginless is-mobile">
              <div class="column is-paddingless is-centered">
                <strong ng-click="showList = !showList">{{ project.title }}</strong>
              </div>
              <div class="column is-paddingless is-centered">
                <span class="icon">
                  <i class="icon-clock"></i>
                </span>
                {{ elapsedTime(project.time) }}
              </div>
              <div class="column is-paddingless is-narrow is-centered">
                <span class="btn btn-timing" ng-click="toggleTiming(project)">
                  <span class="icon is-medium has-text-primary">
                    <i class="icon-lg icon-play-circle" ng-class="{'icon-play-circle': !project.timer, 'icon-pause-circle fade-pulse': project.timer}"></i>
                  </span>
                </span>
              </div>
            </div>
            <div class="columns is-marginless" ng-if="project.times" ng-show="showList">
              <div class="column is-paddingless">
                <ul class="time-list">
                  <li ng-if="project.times.length > 4">...</li>
                  <li ng-repeat="times in getTimes(project.times)">
                    <div class="columns is-marginless">
                      <div class="column is-paddingless">
                        <span class="icon">
                          <i class="icon-date"></i>
                        </span>
                        {{ parseTimes(times) }}
                      </div>
                    </div>
                  </li>
                </ul>
              </div>
            </div>
          </li>
        </ul>
      </div>
    </div>
  </div>
</section>
